{% extends 'base.html'%}
<!--继承页面-->
<!--将预留区域填充-->

{% block title %} {{title}} {% endblock title%} {% block main %}




<!--                                        输入框                                                            -->
<div class="container bs-docs-container">
    <form action="{% url 'denitrifications_app:NirS' %}" method="get">
        {% csrf_token %}
        <div class="input-group mb-3 ">
            <div class="input-group-prepend ">
                <!--这里的name属性就代表着form.py对应productForm中属性的变量名-->
                <select class="form-control " id="sel1 " name="opt">  
                  <option ><center>Enzyme_Name</center></option>
                  <option ><center>Nuc_GenBank ID</center></option>
              </select>
            </div>
            <input type="text " class="form-control " aria-label="Text input with dropdown button " name="inputText">
            <div class="input-group-append ">
                <button class="btn btn-outline-secondary " type="submit ">Enter</button>
            </div>
        </div>
    </form>
</div>
<!--                                        表格显示                                                          -->
<div class="container">
    <table class="table table-bordered table-sm">
        <thead class="thead-dark">
            <tr>
                <th>
                    <center>Reaction Stage</center>
                </th>
                <th>
                    <center>Encoding Gene</center>
                </th>
                <th>
                    <center>Enzyme Name</center>
                </th>
                <th>
                    <center>Microorganism</center>
                </th>
                <th>
                    <center>Clone</center>
                </th>
                <th>
                    <center>Nuc_GenBank ID</center>
                </th>
                <th>
                    <center>Reference</center>
                </th>
                <th>
                    <center>Link<a href="#" data-toggle="tooltip" title="click to view DDb data"><i class="fa fa-exclamation-circle"style="font-size:16px"></i></a></center>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for Enzyme in Enzymes%}
            <tr>
                <td>
                    <center>
                        <p>{{Enzyme.Reaction_Stage}}</p>
                    </center>
                </td>
                <td>
                    <center>
                        <p>{{Enzyme.Encoding_Gene}}</p>
                    </center>
                </td>
                <td>
                    <center>
                        <p>{{Enzyme.Enzyme_Name}}</p>
                    </center>
                </td>
                <td>
                    <center>
                        <p>{{Enzyme.Microorganism}}</p>
                    </center>
                </td>
                <td>
                    <center>
                        <p>{{Enzyme.Clone}}</p>
                    </center>
                </td>
                <td>
                    <center>
                        <p>{{Enzyme.GenBank_ID}}</p>
                    </center>
                </td>
                <td>
                    <center>
                        <p>{{Enzyme.Authors}}</p>
                    </center>
                </td>
                {% ifequal Enzyme.GenBank_ID '+'%}
                <td><a href="#" data-toggle="modal" data-target="#myModal">
                    Link
                </a></td>
                {% else %}
                <td><a href="{% url 'denitrifications_app:EnzymesDetail' title Enzyme.GenBank_ID %}">Link<a></td>
                {% endifequal %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<!--                                        数据提示                                                          -->
<!-- <div class="container ">
  <center>显示第{{page}}页的数据，总共有{{total_num}}个数据</center>
</div> -->
<!--                                        分页                                                             -->

{% if From_brosower %}
<div class="container ">
    <nav aria-label="Page navigation example ">
        <ul class="pagination justify-content-center ">
            <li class="page-item "><a class="page-link " href="{% url 'denitrifications_app:NirS' opt inputText page|add:-1 %} " tabindex="-1 ">Previous</a></li>
                    {%for p in length %} {% ifequal p page %}
                    <!--让分页高亮当前页面的数值-->
                    <li class="page-item active "><a class="page-link " href="{% url 'denitrifications_app:NirS' opt inputText p|add:1 %} ">{{p}}</a></li>
                    {% else %}
                    <li class="page-item "><a class="page-link " href="{% url 'denitrifications_app:NirS' opt inputText p %} ">{{p}}</a></li>
                    {% endifequal %} {%endfor%}
                    <li class="page-item "><a class="page-link " href="{% url 'denitrifications_app:NirS' opt inputText page|add:10 %} ">...</a></li>
                    <li class="page-item "><a class="page-link " href="{% url 'denitrifications_app:NirS' opt inputText page|add:1 %} ">Next</a></li>
                    </ul>
                    </nav>
</div>
{% else %}
<div class="container ">
    <nav aria-label="Page navigation example ">
        <ul class="pagination justify-content-center ">
            <li class="page-item "><a class="page-link " href="{% url 'denitrifications_app:NirS'  page|add:-1 %} " tabindex="-1 ">Previous</a></li>
            {%for p in length %} {% ifequal p page %}
            <!--让分页高亮当前页面的数值-->
            <li class="page-item active "><a class="page-link " href="{% url 'denitrifications_app:NirS'  p|add:1 %} ">{{p}}</a></li>
            {% else %}
            <li class="page-item "><a class="page-link " href="{% url 'denitrifications_app:NirS' p %} ">{{p}}</a></li>
            {% endifequal %} {%endfor%}
            <li class="page-item "><a class="page-link " href="{% url 'denitrifications_app:NirS' page|add:10 %} ">...</a></li>
            <li class="page-item "><a class="page-link " href="{% url 'denitrifications_app:NirS' page|add:1 %} ">Next</a></li>
        </ul>
    </nav>
</div>
{% endif%}

<!----------------------------模态框--------------------------->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- 模态框头部 -->
            <div class="modal-header">
                <h4 class="modal-title">Message</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- 模态框主体 -->
            <div class="modal-body">
                Sorry, no more detail. Entry does not have a unique ID to cross-link the data
            </div>

            <!-- 模态框底部 -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div> {% endblock main%}