{% extends 'base.html'%}
<!--继承页面-->
<!--将预留区域填充-->

{% block title %} {{title}} {% endblock title%} {% block main %}
<div class="container">
    <h3>Detailed description of the enzyme</h3>
    <table class="table table-bordered table-hover">
        <thead class="thead-default">
        </thead>
        <tbody>
            <tr>
                <td>
                    <b>Enzyme name </b>
                </td>
                <td>Dissimilatory nitrite reductase cytochrome cd1</td>
            </tr>
            <tr>
                <td><b>Synonyms </b></td>
                <td>Cytochrome cd1 nitrite reductase; Reductase, nitrite (cytochrome); Cytochrome cd; Cd1 nitrite reductase; Cytochrome oxidase; Nitrite reductase;Dissimilatory nitrite reductase cytochrome cd1; Dissimilatory nitrite reductase
                </td>
            </tr>
            <tr>
                <td>
                    <b>Encoding gene </b>
                </td>
                <td>nirS</td>
            </tr>
            <tr>
                <td><b>Classification </b></td>
                <td>Oxidoreductases</td>
            </tr>
            <tr>
                <td><b>Pathway </b></td>
                <td>Denitrification</td>
            </tr>
            <tr>
                <td><b>Mechanism </b></td>
                <td>
                    <a href="http://denitrification.genome-mining.cn/denitrifications_app/NitrateReduction/4/" target="_blank">Link</a>
                </td>
            </tr>
            <tr>
                <td><b>Reference</b></td>
            </tr>
            <tr>
                <td>
                    <p><b>Authors</b></p>
                    <p><b>Title</b></p>
                    <p><b>PubMed ID</b></p>
                    <p><b>Full research link</b></p>
                </td>
                <td>
                    <p>
                        Kim and Hollocher et al., 1984
                    </p>
                    <p>Catalysis of Nitrosyl Transfer Reactions by a Dissimilatory Nitrite Reductase (Cytochrome c,d1)</p>
                    <p>
                        <a href="https://pubmed.ncbi.nlm.nih.gov/6321458/?from_term=dissimilatory+nitrite+reductase+cytochrome+cd1&from_pos=4" target="_blank">6321458</a>
                    </p>
                    <p>
                        <a href="http://www.jbc.org/cgi/pmidlookup?view=long&pmid=6321458" target="_blank">Link</a>
                    </p>

                </td>
            </tr>
            <tr>
                <td>
                    <p><b>Authors</b></p>
                    <p><b>Title</b></p>
                    <p><b>PubMed ID</b></p>
                    <p><b>Full research link</b></p>
                </td>
                <td>
                    <p>
                        Cutruzzolà et al., 2003
                    </p>
                    <p>NO Production by Pseudomonas Aeruginosa cd1 Nitrite Reductase</p>
                    <p>
                        <a href="https://pubmed.ncbi.nlm.nih.gov/14711008/" target="_blank">14711008</a>
                    </p>
                    <p>
                        <a href="https://doi.org/10.1080/15216540310001628672" target="_blank">Link</a>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><b>Authors</b></p>
                    <p><b>Title</b></p>
                    <p><b>PubMed ID</b></p>
                    <p><b>Full research link</b></p>
                </td>
                <td>
                    <p>
                        Rinaldo et al., 2008
                    </p>
                    <p>New Insights Into the Activity of Pseudomonas Aeruginosa cd1 Nitrite Reductase</p>
                    <p>
                        <a href="https://pubmed.ncbi.nlm.nih.gov/19021515/" target="_blank">19021515</a>
                    </p>
                    <p>
                        <a href="https://portlandpress.com/biochemsoctrans/article-lookup/doi/10.1042/BST0361155" target="_blank">Link</a>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><b>Authors</b></p>
                    <p><b>Title</b></p>
                    <p><b>PubMed ID</b></p>
                    <p><b>Full research link</b></p>
                </td>
                <td>
                    <p>
                        Silvestrini et al., 1994
                    </p>
                    <p>Pseudomonas Aeruginosa Nitrite Reductase (Or Cytochrome Oxidase): An Overview</p>
                    <p>
                        <a href="https://pubmed.ncbi.nlm.nih.gov/7893816/" target="_blank">7893816</a>
                    </p>
                    <p>
                        <a href="https://linkinghub.elsevier.com/retrieve/pii/0300-9084(94)90141-4" target="_blank">Link</a>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><b>Authors</b></p>
                    <p><b>Title</b></p>
                    <p><b>PubMed ID</b></p>
                    <p><b>Full research link</b></p>
                </td>
                <td>
                    <p>
                        Rinaldo et al., 2011
                    </p>
                    <p>The Catalytic Mechanism of Pseudomonas Aeruginosa cd1 Nitrite Reductase</p>
                    <p>
                        <a href="https://pubmed.ncbi.nlm.nih.gov/21265772/" target="_blank">21265772</a>
                    </p>
                    <p>
                        <a href="https://portlandpress.com/biochemsoctrans/article-lookup/doi/10.1042/BST0390195" target="_blank">Link</a>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock main%}