{% extends 'base.html'%}
<!--继承页面-->
<!--将预留区域填充-->

{% block title %} {{title}} {% endblock title%} {% block main %}
<div class="container">
    <h3>Detailed description of the enzyme</h3>
    <table class="table table-bordered table-hover">
        <thead class="thead-default">
        </thead>
        <tbody>
            <tr>
                <td>
                    <b>Enzyme name </b>
                </td>
                <td>Nitrous-oxide reductase </td>
            </tr>
            <tr>
                <td><b>Synonyms </b></td>
                <td>N<sub>2</sub>O reductase;Nitrogen:(acceptor) oxidoreductase (N<sub>2</sub>O-forming);N<sub>2</sub>OR;Multicopper oxidase;N(<sub>2</sub>)OR;N<sub>2</sub>O reductase;NosZ</td>
            </tr>
            <tr>
                <td>
                    <b>Encoding gene </b>
                </td>
                <td>nosZ</td>
            </tr>
            <tr>
                <td><b>Classification </b></td>
                <td>Oxidoreductases</td>
            </tr>
            <tr>
                <td><b>Pathway </b></td>
                <td>Denitrification</td>
            </tr>
            <tr>
                <td><b>Mechanism </b></td>
                <td>
                    <a href="http://denitrification.genome-mining.cn/denitrifications_app/NitrateReduction/6/" target="_blank">Link</a>
                </td>
            </tr>
            <tr>
                <td><b>Reference</b></td>
            </tr>
            <tr>
                <td>
                    <p><b>Authors</b></p>
                    <p><b>Title</b></p>
                    <p><b>PubMed ID</b></p>
                    <p><b>Full research link</b></p>
                </td>
                <td>
                    <p>
                        Carreira et al., 2017
                    </p>
                    <p>The Catalytic Cycle of Nitrous Oxide Reductase - The Enzyme That Catalyzes the Last Step of Denitrification</p>
                    <p>
                        <a href="https://pubmed.ncbi.nlm.nih.gov/28927704/" target="_blank">28927704</a>
                    </p>
                    <p>
                        <a href="https://linkinghub.elsevier.com/retrieve/pii/S0162-0134(17)30207-6" target="_blank">Link</a>
                    </p>

                </td>
            </tr>
            <tr>
                <td>
                    <p><b>Authors</b></p>
                    <p><b>Title</b></p>
                    <p><b>PubMed ID</b></p>
                    <p><b>Full research link</b></p>
                </td>
                <td>
                    <p>
                        Dell'Acqua et al., 2012
                    </p>
                    <p>Biochemical Characterization of the Purple Form of Marinobacter Hydrocarbonoclasticus Nitrous Oxide Reductase</p>
                    <p>
                        <a href="https://pubmed.ncbi.nlm.nih.gov/22451106/" target="_blank">22451106</a>
                    </p>
                    <p>
                        <a href="https://royalsocietypublishing.org/doi/full/10.1098/rstb.2011.0311?url_ver=Z39.88-2003&rfr_id=ori:rid:crossref.org&rfr_dat=cr_pub%3dpubmed" target="_blank">Link</a>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><b>Authors</b></p>
                    <p><b>Title</b></p>
                    <p><b>PubMed ID</b></p>
                    <p><b>Full research link</b></p>
                </td>
                <td>
                    <p>
                        Chan et al., 2004
                    </p>
                    <p>SReductively Activated Nitrous Oxide Reductase Reacts Directly With Substrate</p>
                    <p>
                        <a href="https://pubmed.ncbi.nlm.nih.gov/15012115/" target="_blank">15012115</a>
                    </p>
                    <p>
                        <a href="https://dx.doi.org/10.1021/ja0398868" target="_blank">Link</a>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><b>Authors</b></p>
                    <p><b>Title</b></p>
                    <p><b>PubMed ID</b></p>
                    <p><b>Full research link</b></p>
                </td>
                <td>
                    <p>
                        Rasmussen et al., 2005
                    </p>
                    <p>Formation of a Cytochrome C-Nitrous Oxide Reductase Complex Is Obligatory for N2O Reduction by Paracoccus Pantotrophus</p>
                    <p>
                        <a href="https://pubmed.ncbi.nlm.nih.gov/16234931/" target="_blank">16234931</a>
                    </p>
                    <p>
                        <a href="https://doi.org/10.1039/b501846c" target="_blank">Link</a>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><b>Authors</b></p>
                    <p><b>Title</b></p>
                    <p><b>PubMed ID</b></p>
                    <p><b>Full research link</b></p>
                </td>
                <td>
                    <p>
                        Dell'acqua et al., 2011
                    </p>
                    <p>The Electron Transfer Complex Between Nitrous Oxide Reductase and Its Electron Donors</p>
                    <p>
                        <a href="https://pubmed.ncbi.nlm.nih.gov/21739254/" target="_blank">21739254</a>
                    </p>
                    <p>
                        <a href="https://dx.doi.org/10.1007/s00775-011-0812-9" target="_blank">Link</a>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><b>Authors</b></p>
                    <p><b>Title</b></p>
                    <p><b>PubMed ID</b></p>
                    <p><b>Full research link</b></p>
                </td>
                <td>
                    <p>
                        Dell'acqua et al., 2010
                    </p>
                    <p>A New CuZ Active Form in the Catalytic Reduction of N(2)O by Nitrous Oxide Reductase From Pseudomonas Nautica</p>
                    <p>
                        <a href="https://pubmed.ncbi.nlm.nih.gov/20422435/" target="_blank">20422435</a>
                    </p>
                    <p>
                        <a href="https://dx.doi.org/10.1007/s00775-010-0658-6" target="_blank">Link</a>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock main%}