{% extends 'base.html'%}
<!--继承页面-->
<!--将预留区域填充-->

{% block title %} {{title}} {% endblock title%} {% block main %}
<div class="container">
    <h3>Detailed description of the enzyme</h3>
    <table class="table table-bordered table-hover">
        <thead class="thead-default">
        </thead>
        <tbody>
            <tr>
                <td>
                    <b>Enzyme name </b>
                </td>
                <td>Nitric oxide reductase (cytochrome c)</td>
            </tr>
            <tr>
                <td><b>Synonyms </b></td>
                <td>Nitrous oxide:ferricytochrome-c oxidoreductase
                </td>
            </tr>
            <tr>
                <td>
                    <b>Encoding gene </b>
                </td>
                <td>norC</td>
            </tr>
            <tr>
                <td><b>Classification </b></td>
                <td>Oxidoreductases</td>
            </tr>
            <tr>
                <td><b>Pathway </b></td>
                <td>Denitrification</td>
            </tr>
            <tr>
                <td><b>Mechanism </b></td>
                <td>
                    <a href="http://denitrification.genome-mining.cn/denitrifications_app/NitrateReduction/5/" target="_blank">Link</a>
                </td>
            </tr>
            <tr>
                <td><b>Reference</b></td>
            </tr>
            <tr>
                <td>
                    <p><b>Authors</b></p>
                    <p><b>Title</b></p>
                    <p><b>PubMed ID</b></p>
                    <p><b>Full research link</b></p>
                </td>
                <td>
                    <p>
                        Attia and Silaghi-Dumitrescu., 2015
                    </p>
                    <p>Bacterial Nitric Oxide Reductase: A Mechanism Revisited by an ONIOM (DFT:MM) Study</p>
                    <p>
                        <a href="https://pubmed.ncbi.nlm.nih.gov/25920393/?from_single_result=25920393" target="_blank">25920393</a>
                    </p>
                    <p>
                        <a href="https://dx.doi.org/10.1007/s00894-015-2679-0" target="_blank">Link</a>
                    </p>

                </td>
            </tr>
            <tr>
                <td>
                    <p><b>Authors</b></p>
                    <p><b>Title</b></p>
                    <p><b>PubMed ID</b></p>
                    <p><b>Full research link</b></p>
                </td>
                <td>
                    <p>
                        Blomberg et al., 2006
                    </p>
                    <p>Reduction of Nitric Oxide in Bacterial Nitric Oxide Reductase--A Theoretical Model Study</p>
                    <p>
                        <a href="https://pubmed.ncbi.nlm.nih.gov/16774734/" target="_blank">16774734</a>
                    </p>
                    <p>
                        <a href="https://linkinghub.elsevier.com/retrieve/pii/S0005-2728(06)00104-6" target="_blank">Link</a>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><b>Authors</b></p>
                    <p><b>Title</b></p>
                    <p><b>PubMed ID</b></p>
                    <p><b>Full research link</b></p>
                </td>
                <td>
                    <p>
                        Blomberg and Ädelroth., 2017
                    </p>
                    <p>The Mechanism for Oxygen Reduction in Cytochrome C Dependent Nitric Oxide Reductase (cNOR) as Obtained From a Combination of Theoretical and Experimental Results</p>
                    <p>
                        <a href="https://pubmed.ncbi.nlm.nih.gov/28801051/?from_single_result=28801051" target="_blank">28801051</a>
                    </p>
                    <p>
                        <a href="https://linkinghub.elsevier.com/retrieve/pii/S0005-2728(17)30118-4" target="_blank">Link</a>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><b>Authors</b></p>
                    <p><b>Title</b></p>
                    <p><b>PubMed ID</b></p>
                    <p><b>Full research link</b></p>
                </td>
                <td>
                    <p>
                        Beek et al., 2013
                    </p>
                    <p>The Nitric-Oxide Reductase From Paracoccus Denitrificans Uses a Single Specific Proton Pathway</p>
                    <p>
                        <a href="https://pubmed.ncbi.nlm.nih.gov/24014024/" target="_blank">24014024</a>
                    </p>
                    <p>
                        <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/pmid/24014024/" target="_blank">Link</a>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><b>Authors</b></p>
                    <p><b>Title</b></p>
                    <p><b>PubMed ID</b></p>
                    <p><b>Full research link</b></p>
                </td>
                <td>
                    <p>
                        Blomberg and Siegbahn et al., 2013
                    </p>
                    <p>Why Is the Reduction of NO in Cytochrome C Dependent Nitric Oxide Reductase (cNOR) Not Electrogenic?</p>
                    <p>
                        <a href="https://pubmed.ncbi.nlm.nih.gov/23618787/" target="_blank">23618787</a>
                    </p>
                    <p>
                        <a href="https://linkinghub.elsevier.com/retrieve/pii/S0005-2728(13)00076-5" target="_blank">Link</a>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>{% endblock %}