{% extends 'base.html'%}
<!--继承页面-->
<!--将预留区域填充-->

{% block title %} {{title}} {% endblock title%} {% block main %}
<div class="container">
    <h3>Detailed description of the enzyme</h3>
    <table class="table table-bordered table-hover">
        <thead class="thead-default">
        </thead>
        <tbody>
            <tr>
                <td>
                    <b>Enzyme name </b>
                </td>
                <td>Membrane nitrate reductase</td>
            </tr>
            <tr>
                <td><b>Synonyms </b></td>
                <td>nitrate reductase (quinone); membrane-bound nitrate reductase; membrane-bound quinol: nitrate oxidoreductase; NaR; NarG; NarGHI; NarZ; nitrate reducatse A; quinol-nitrate oxidoreductase; quinol/nitrate oxidoreductase; NarI; nitrate reductase
                    / nitrite oxidoreductase</td>
            </tr>
            <tr>
                <td>
                    <b>Encoding gene </b>
                </td>
                <td>NarG</td>
            </tr>
            <tr>
                <td><b>Classification </b></td>
                <td>Oxidoreductases</td>
            </tr>
            <tr>
                <td><b>Pathway </b></td>
                <td>Denitrification</td>
            </tr>
            <tr>
                <td><b>Mechanism </b></td>
                <td>
                    <a href="http://denitrification.genome-mining.cn/denitrifications_app/NitrateReduction/1/" target="_blank">Link</a>
                </td>
            </tr>
            <tr>
                <td><b>Reference</b></td>
            </tr>
            <tr>
                <td>
                    <p><b>Authors</b></p>
                    <p><b>Title</b></p>
                    <p><b>PubMed ID</b></p>
                    <p><b>Full research link</b></p>
                </td>
                <td>
                    <p>
                        Polcyn, 2008
                    </p>
                    <p>Mass Spectrometry Identification of Membrane-Bound Respiratory Nitrate Reductase From Bradyrhizobium Sp. (Lupinus)</p>
                    <p>
                        <a href="https://pubmed.ncbi.nlm.nih.gov/19015774/?from_term=NarG+membrane-bound+nitrate+reductase+&from_pos=9" target="_blank">19015774</a>
                    </p>
                    <p>
                        <a href="http://www.actabp.pl/pdf/4_2008/753.pdf" target="_blank">Link</a>
                    </p>

                </td>
            </tr>
            <tr>
                <td>
                    <p><b>Authors</b></p>
                    <p><b>Title</b></p>
                    <p><b>PubMed ID</b></p>
                    <p><b>Full research link</b></p>
                </td>
                <td>
                    <p>
                        Ghiglione et al., 1999
                    </p>
                    <p>Disruption of narG, the Gene Encoding the Catalytic Subunit of Respiratory Nitrate Reductase, Also Affects Nitrite Respiration in Pseudomonas Fluorescens YT101</p>
                    <p>
                        <a href="https://pubmed.ncbi.nlm.nih.gov/10438786/?from_term=membrane-bound+nitrate+reductase+NarG&from_pos=3" target="_blank">10438786</a>
                    </p>
                    <p>
                        <a href="http://jb.asm.org/cgi/pmidlookup?view=long&pmid=10438786" target="_blank">Link</a>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><b>Authors</b></p>
                    <p><b>Title</b></p>
                    <p><b>PubMed ID</b></p>
                    <p><b>Full research link</b></p>
                </td>
                <td>
                    <p>
                        Blasco et al., 2001
                    </p>
                    <p>The Coordination and Function of the Redox Centres of the Membrane-Bound Nitrate Reductases</p>
                    <p>
                        <a href="https://pubmed.ncbi.nlm.nih.gov/11289300/?from_term=membrane-bound+nitrate+reductase+NarG&from_pos=7" target="_blank">11289300</a>
                    </p>
                    <p>
                        <a href="https://doi.org/10.1007/PL00000846" target="_blank">Link</a>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><b>Authors</b></p>
                    <p><b>Title</b></p>
                    <p><b>PubMed ID</b></p>
                    <p><b>Full research link</b></p>
                </td>
                <td>
                    <p>
                        Coelho and Romão., 2015
                    </p>
                    <p>Structural and Mechanistic Insights on Nitrate Reductases</p>
                    <p>
                        <a href="https://pubmed.ncbi.nlm.nih.gov/26362109/?from_term=periplasmic+nitrate+reductase+NapA&from_pos=3" target="_blank">26362109</a>
                    </p>
                    <p>
                        <a href="https://doi.org/10.1007/PL00000846" target="_blank">Link</a>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><b>Authors</b></p>
                    <p><b>Title</b></p>
                    <p><b>PubMed ID</b></p>
                    <p><b>Full research link</b></p>
                </td>
                <td>
                    <p>
                        Magalon et al., 1997
                    </p>
                    <p>Characterization by Electron Paramagnetic Resonance of the Role of the Escherichia Coli Nitrate Reductase (NarGHI) Iron-Sulfur Clusters in Electron Transfer to Nitrate and Identification of a Semiquinone Radical Intermediate</p>
                    <p>
                        <a href="https://pubmed.ncbi.nlm.nih.gov/9260944/" target="_blank">9260944</a>
                    </p>
                    <p>
                        <a href="http://jb.asm.org/cgi/pmidlookup?view=long&pmid=9260944" target="_blank">Link</a>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock main%}