{% extends 'base.html'%}
<!--继承页面-->
<!--将预留区域填充-->

{% block title %} {{title}} {% endblock title%} {% block main %}
<div class="container">
    <h3>Detailed description of the enzyme</h3>
    <table class="table table-bordered table-hover">
        <thead class="thead-default">
        </thead>
        <tbody>
            <tr>
                <td>
                    <b>Enzyme name </b>
                </td>
                <td>Nitrite reductase (NO-forming)</td>
            </tr>
            <tr>
                <td><b>Synonyms </b></td>
                <td>Copper-containing dissimilatory nitrite reductase;Copper-containing nitrite reductase;Dissimilatory nitrite reductase;Cu-NirK;Cu-NIR;Cu-NirK; Nitrite reductase;nirK;Periplasmic nitrite reductase;
                </td>
            </tr>
            <tr>
                <td>
                    <b>Encoding gene </b>
                </td>
                <td>nirK</td>
            </tr>
            <tr>
                <td><b>Classification </b></td>
                <td>Oxidoreductases</td>
            </tr>
            <tr>
                <td><b>Pathway</b></td>
                <td>Denitrification</td>
            </tr>
            <tr>
                <td><b>Mechanism</b></td>
                <td>
                    <a href="http://denitrification.genome-mining.cn/denitrifications_app/NitrateReduction/3/" target="_blank">Link</a>
                </td>
            </tr>
            <tr>
                <td><b>Reference</b></td>
            </tr>
            <tr>
                <td>
                    <p><b>Authors</b></p>
                    <p><b>Title</b></p>
                    <p><b>PubMed ID</b></p>
                    <p><b>Full research link</b></p>
                </td>
                <td>
                    <p>
                        Bueno et al., 2005
                    </p>
                    <p>Function of the Rhizobium Etli CFN42 nirK Gene in Nitrite Metabolism</p>
                    <p>
                        <a href="https://pubmed.ncbi.nlm.nih.gov/15667294/?from_term=Mutational+Analysis+of+the+NirK+Gene&from_pos=1" target="_blank">15667294</a>
                    </p>
                    <p>
                        <a href="https://portlandpress.com/biochemsoctrans/article-lookup/doi/10.1042/BST0330162" target="_blank">Link</a>
                    </p>

                </td>
            </tr>
            <tr>
                <td>
                    <p><b>Authors</b></p>
                    <p><b>Title</b></p>
                    <p><b>PubMed ID</b></p>
                    <p><b>Full research link</b></p>
                </td>
                <td>
                    <p>
                        Nakanishi et al., 2010
                    </p>
                    <p>A Eukaryotic Copper-Containing Nitrite Reductase Derived From a NirK Homolog Gene of Aspergillus Oryzae</p>
                    <p>
                        <a href="https://pubmed.ncbi.nlm.nih.gov/20460712/?from_term=Mutational+Analysis+of+the+NirK+Gene&from_pos=2" target="_blank">20460712</a>
                    </p>
                    <p>
                        <a href="http://joi.jlc.jst.go.jp/JST.JSTAGE/bbb/90844?lang=en&from=PubMed" target="_blank">Link</a>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><b>Authors</b></p>
                    <p><b>Title</b></p>
                    <p><b>PubMed ID</b></p>
                    <p><b>Full research link</b></p>
                </td>
                <td>
                    <p>
                        Gao et al., 2017
                    </p>
                    <p>Cloning, Purification and Characterization of Novel Cu-containing Nitrite Reductase From the Bacillus Firmus GY-49</p>
                    <p>
                        <a href="https://pubmed.ncbi.nlm.nih.gov/29255935/" target="_blank">29255935</a>
                    </p>
                    <p>
                        <a href="https://dx.doi.org/10.1007/s11274-017-2383-6" target="_blank">Link</a>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><b>Authors</b></p>
                    <p><b>Title</b></p>
                    <p><b>PubMed ID</b></p>
                    <p><b>Full research link</b></p>
                </td>
                <td>
                    <p>
                        Glockner et al., 1993
                    </p>
                    <p>Copper-containing Nitrite Reductase From Pseudomonas Aureofaciens Is Functional in a Mutationally Cytochrome cd1-free Background (NirS-) of Pseudomonas Stutzeri</p>
                    <p>
                        <a href="https://pubmed.ncbi.nlm.nih.gov/8352648/" target="_blank">8352648</a>
                    </p>
                    <p>
                        <a href="https://link.springer.com/article/10.1007/BF00258141" target="_blank">Link</a>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><b>Authors</b></p>
                    <p><b>Title</b></p>
                    <p><b>PubMed ID</b></p>
                    <p><b>Full research link</b></p>
                </td>
                <td>
                    <p>
                        Adhikari and Rahman., 2017
                    </p>
                    <p>Comparative Analysis of Amino Acid Composition in the Active Site of Nirk Gene Encoding Copper-Containing Nitrite Reductase (CuNiR) in Bacterial Spp</p>
                    <p>
                        <a href="https://pubmed.ncbi.nlm.nih.gov/28068515/?from_term=nirK+mechanism&from_pos=3" target="_blank">28068515</a>
                    </p>
                    <p>
                        <a href="https://linkinghub.elsevier.com/retrieve/pii/S1476-9271(15)30072-4" target="_blank">Link</a>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock main %}