{% extends 'base.html'%}
<!--继承页面-->
<!--将预留区域填充-->

{% block title %} {{title}} {% endblock title%} {% block main %}
<div class="container">
    <h3>Detailed description of the enzyme</h3>
    <table class="table table-bordered table-hover">
        <thead class="thead-default">
        </thead>
        <tbody>
            <tr>
                <td>
                    <b>Enzyme name </b>
                </td>
                <td>Orthology: nitric oxide reductase subunit B</td>
            </tr>
            <tr>
                <td><b>Synonyms </b></td>
                <td>N/A</td>
            </tr>
            <tr>
                <td>
                    <b>Encoding gene </b>
                </td>
                <td>norB</td>
            </tr>
            <tr>
                <td><b>Classification </b></td>
                <td>Oxidoreductases</td>
            </tr>
            <tr>
                <td><b>Pathway </b></td>
                <td>Denitrification</td>
            </tr>
            <tr>
                <td><b>Mechanism </b></td>
                <td>
                    <a href="http://denitrification.genome-mining.cn/denitrifications_app/NitrateReduction/5/" target="_blank">Link</a>
                </td>
            </tr>
            <tr>
                <td><b>Reference</b></td>
            </tr>
            <tr>
                <td>
                    <p><b>Authors</b></p>
                    <p><b>Title</b></p>
                    <p><b>PubMed ID</b></p>
                    <p><b>Full research link</b></p>
                </td>
                <td>
                    <p>
                        Watmough et al., 2009
                    </p>
                    <p>The Bacterial Respiratory Nitric Oxide Reductase</p>
                    <p>
                        <a href="https://pubmed.ncbi.nlm.nih.gov/19290869/" target="_blank">19290869</a>
                    </p>
                    <p>
                        <a href="https://portlandpress.com/biochemsoctrans/article-lookup/doi/10.1042/BST0370392" target="_blank">Link</a>
                    </p>

                </td>
            </tr>
            <tr>
                <td>
                    <p><b>Authors</b></p>
                    <p><b>Title</b></p>
                    <p><b>PubMed ID</b></p>
                    <p><b>Full research link</b></p>
                </td>
                <td>
                    <p>
                        Oubrie et al., 2002
                    </p>
                    <p>Properties of a Soluble Domain of Subunit C of a Bacterial Nitric Oxide Reductase</p>
                    <p>
                        <a href="https://pubmed.ncbi.nlm.nih.gov/12196025/" target="_blank">12196025</a>
                    </p>
                    <p>
                        <a href="https://dx.doi.org/10.1021/bi026140y" target="_blank">Link</a>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><b>Authors</b></p>
                    <p><b>Title</b></p>
                    <p><b>PubMed ID</b></p>
                    <p><b>Full research link</b></p>
                </td>
                <td>
                    <p>
                        Blomberg et al., 2006
                    </p>
                    <p>Reduction of Nitric Oxide in Bacterial Nitric Oxide Reductase--A Theoretical Model Study</p>
                    <p>
                        <a href="https://pubmed.ncbi.nlm.nih.gov/16774734/" target="_blank">16774734</a>
                    </p>
                    <p>
                        <a href="https://linkinghub.elsevier.com/retrieve/pii/S0005-2728(06)00104-6" target="_blank">Link</a>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><b>Authors</b></p>
                    <p><b>Title</b></p>
                    <p><b>PubMed ID</b></p>
                    <p><b>Full research link</b></p>
                </td>
                <td>
                    <p>
                        Hino et al., 2012
                    </p>
                    <p>Molecular Structure and Function of Bacterial Nitric Oxide Reductase</p>
                    <p>
                        <a href="https://pubmed.ncbi.nlm.nih.gov/22001779/" target="_blank">22001779</a>
                    </p>
                    <p>
                        <a href="https://linkinghub.elsevier.com/retrieve/pii/S0005-2728(11)00231-3" target="_blank">Link</a>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><b>Authors</b></p>
                    <p><b>Title</b></p>
                    <p><b>PubMed ID</b></p>
                    <p><b>Full research link</b></p>
                </td>
                <td>
                    <p>
                        Zumft, 2005
                    </p>
                    <p>Nitric Oxide Reductases of Prokaryotes With Emphasis on the Respiratory, Heme-Copper Oxidase Type</p>
                    <p>
                        <a href="https://pubmed.ncbi.nlm.nih.gov/15598502/" target="_blank">15598502</a>
                    </p>
                    <p>
                        <a href="https://linkinghub.elsevier.com/retrieve/pii/S0162-0134(04)00290-9" target="_blank">Link</a>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock main%}