{% extends 'base.html'%}
<!--继承页面-->
<!--将预留区域填充-->

{% block title %} {{title}} {% endblock title%} {% block main %}
<div class="container">
    <div class="card bg-info text-white">
        <div class="card-body">
            <p>
                <span>
                <h4>
                    Nitrate Reduction
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    &nbsp;
                <span>
                    <a href="{% url 'denitrifications_app:NitrateReduction' 1%}" style="color:aliceblue">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;narG <i class="fa fa-external-link" style="font-size:20px"></i>
                    </a></span> &nbsp;&nbsp;
                <span>
                <a href="{% url 'denitrifications_app:NitrateReduction' 2 %}" style ="color:aliceblue">
                    napA <i class="fa fa-external-link" style="font-size:20px"></i>
                </a>
              </h4>
                </span>
            </p>
        </div>
        <hr style="background-color:ghostwhite;height: 1px; border: none;" />
        <div class="card-body">
            <p>
                <span>
              <h4>
                Nitrite Reduction 
                  &nbsp;
                  &nbsp;
                  &nbsp;
                  &nbsp;
              <span>
                  <a href="{% url 'denitrifications_app:NitrateReduction' 3 %}" style="color:aliceblue">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;nirK <i class="fa fa-external-link" style="font-size:20px"></i>
                  </a></span> &nbsp;&nbsp;
                <span>
              <a href="{% url 'denitrifications_app:NitrateReduction' 4 %}" style ="color:aliceblue">
                  nirS <i class="fa fa-external-link" style="font-size:20px"></i>
              </a>
            </h4>
              </span>
            </p>
        </div>
        <hr style="background-color:ghostwhite;height: 1px; border: none;" />
        <div class="card-body">
            <p>
                <span>
            <h4>
              Nitric Oxide Reduction
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                
            <span>
                <a href="{% url 'denitrifications_app:NitrateReduction' 5 %}" style="color:aliceblue">
                    norB <i class="fa fa-external-link" style="font-size:20px"></i>
                </a></span> &nbsp;&nbsp;
                <span>
          </h4>
            </span>
            </p>
        </div>
        <hr style="background-color:ghostwhite;height: 1px; border: none;" />
        <div class="card-body">
            <p>
                <span>
          <h4>
            Nitrous Oxide Reduction 
              &nbsp;
              &nbsp;
              &nbsp;
              
          <span>
              <a href="{% url 'denitrifications_app:NitrateReduction' 6 %}" style="color:aliceblue">
                nosZ <i class="fa fa-external-link" style="font-size:20px"></i>
              </a></span> &nbsp;&nbsp;
                <span>
        </h4>
          </span>
            </p>
        </div>
    </div>
</div>
{% endblock main%}