{% extends 'base.html'%}
<!--继承页面-->
<!--将预留区域填充-->

{% block title %} {{title}} {% endblock title%} {% block main %}
<div class="container">
    <h2>SUBMIT</h2>
    <hr style="height:1px ;background-color:slategray" />
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-8">
            <p>DenitrificationDb offers a submission page that enables other researchers to submit their data about novel denitrifiying strains. The submitted record will be evaluated and uopn acceptance your data will be uploaded into the database. Your
                data will be scheduled for public release when the updated version of the database is released.</p>
            <form>
                <h3>Submission Form</h3>
                <p>To submit, please take the time to fill out the information below.</p>
                <br />
                <div class="col-sm-8">
                    <form action="{% url 'denitrifications_app:submit' %}" method="get">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Person</span>
                            </div>
                            <input type="text" class="form-control" placeholder="First Name" name="firstName" id="firstName">
                            <input type="text" class="form-control" placeholder="Last Name" name="lastName" id="lastName">
                        </div>
                        <br />
                        <div class="form-group">
                            <label for="email">Email*:</label>
                            <input type="text" class="form-control" id="email" name="email">
                        </div>
                        <div class="form-group">
                            <label for="Pubmed_ID">Pubmed ID:</label>
                            <input type="text" class="form-control" name="Pubmed_ID" id="Pubmed_ID" placeholder="Add manuscript ID">
                        </div>
                        <div class="form-group">
                            <label for="Microorganism">Microorganism:</label>
                            <input type="text" class="form-control" name="Microorganism" id="Microorganism" placeholder="Add answer here">
                        </div>
                        <div class="form-group">
                            <label for="product">Final product of nitrate reduction</label>
                            <input type="text" class="form-control" name="product" id="product" placeholder="Add answer here">
                        </div>
                        <div class="form-group">
                            <label for="comment">评论:</label>
                            <textarea class="form-control" rows="4" name="comment" placeholder="Add description here"></textarea>
                        </div>
                        <button class="btn btn-outline-secondary" type="submit">submit</button>
                    </form>
                </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $("button").click(function() {
                var email = $("#email").val();
                if (judgeVaildEmail(email)) {
                    $("form").submit();
                    alert(email)
                } else {
                    alert("Please enter vaild email")
                }

                function judgeVaildEmail(email) {
                    var atpos = email.indexOf("@");
                    var dotpos = email.lastIndexOf(".");
                    if (atpos < 1 || dotpos < atpos + 2 || dotpos + 2 >= email.length) {
                        return false;
                    } else {
                        return true
                    }
                }
            });
        });
    </script>
</div>
{% endblock main %}