{% extends 'base.html'%}
<!--继承页面-->
<!--将预留区域填充-->

{% block title %} {{title}} {% endblock title%} {% block main %}
<div class="container">
    <div class="container bs-docs-container">
        <form action="{% url 'denitrifications_app:WastewaterTreat' %}" method="get">
            {% csrf_token %}
            <div class="input-group mb-3 ">
                <div class="input-group-prepend ">
                    <!--这里的name属性就代表着form.py对应productForm中属性的变量名-->
                    <select class="form-control " id="sel1 " name="opt">  
                <option ><center>Influent</center></option>
                <option ><center>Denitrifying_reactor</center></option>
            </select>
                </div>
                <input type="text " class="form-control " aria-label="Text input with dropdown button " name="inputText">
                <div class="input-group-append ">
                    <button class="btn btn-outline-secondary " type="submit ">Enter</button>
                </div>
            </div>
        </form>
    </div>
    <div class="container">
        <table class="table table-bordered table-sm ">
            <thead class="thead-dark">
                <tr>
                    <th>
                        <center>Influent</center>
                        <th>
                            <center>Denitrification system</center>
                        </th>
                        <th>
                            <center>Denitrifying reactor</center>
                        </th>
                        <th>
                            <center>Medium (carrier)</center>
                        </th>
                        <th>
                            <center>Author</center>
                        </th>
                        <th>
                            <center>Link</center>
                        </th>
                </tr>
            </thead>
            <tbody>
                {% for data in Datas%}
                <tr>
                    <td>
                        <center>{{data.Influent_Source_Type}}
                        </center>
                    </td>
                    <td>
                        <center>{{data.Denitrification_System}}</center>
                    </td>
                    <td>
                        <center>{{data.Denitrifying_Reactor}}</center>
                    </td>
                    <td>
                        <center>{{data.Medium}}</center>
                    </td>
                    <td>
                        <center>{{data.Authors}}</center>
                    </td>
                    <td>
                        <center><a href={{data.Link}} target = "_blank">Link</a></center>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <nav aria-label="Page navigation example ">
        <ul class="pagination justify-content-center ">
            <li class="page-item "><a class="page-link " href="{% url 'denitrifications_app:WastewaterTreat'  page|add:-1 %} " tabindex="-1 ">Previous</a></li>
            {%for p in length %} {% ifequal p page %}
            <!--让分页高亮当前页面的数值-->
            <li class="page-item active "><a class="page-link " href="{% url 'denitrifications_app:WastewaterTreat'  p|add:1 %} ">{{p}}</a></li>
            {% else %}
            <li class="page-item "><a class="page-link " href="{% url 'denitrifications_app:WastewaterTreat' p %} ">{{p}}</a></li>
            {% endifequal %} {%endfor%}
            <li class="page-item "><a class="page-link " href="{% url 'denitrifications_app:WastewaterTreat' page|add:10 %} ">...</a></li>
            <li class="page-item "><a class="page-link " href="{% url 'denitrifications_app:WastewaterTreat' page|add:1 %} ">Next</a></li>
        </ul>
    </nav>
</div>{% endblock main%}