{% extends 'base.html'%}
<!--继承页面-->
<!--将预留区域填充-->

{% block title %} {{title}} {% endblock title%} {% block main %}
  <div class = "container">
    <h2>Continuous Stirred Tank Reactor</h2>
    <div class="card">
      <div class="card-header"></div>
      <div class="card-body">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>General Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><p align = "justify">A Continuous Stirred Tank Reactor (CSTR) is reaction vessel in which the feed is continuously added and whilst the products are continuously being removed. The CSTR is continuously stirred with an impeller to ensure efficient mixing and maintain a uniform concentration within the vessel in terms of temperature, density, etc throughout the system.</p></td>
            </tr>
          </tbody>
        </table>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>Basic Operation</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><p align = "justify">In this type of vessel, denitrifying microbial population is in suspension mix and continuously circulated within the reactor by employing stirrers/impellers. Continuous stirring helps ensure that denitrifying microbes are completely suspended in the reactor liquor and provide efficient mass transfer that may support improved growth of the microbes. The challenge with this type of reactor is that due to is hasty mixing operational patterns the CSTR is incapable of upholding a large amount of microbes. If the hydraulic retention time is low, biomass washout occurs and this results in lower nitrate removal rate. In order to improve biomass retention in this type of bioreactor, a number of techniques have been developed, such as employing the use of an up-flow reactor, providing an internal sedimentation system and immobilizing the microbes, a better nitrate removal rate.</p></td>
            </tr>
          </tbody>
        </table>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>Biofilm carriers commonly used</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <p>Kaldnes K1 Media</p>
                <p>N/A</p>
                <p>N/A</p>
                <p>N/A</p>
                <p>N/A</p>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>Variations</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <p>N/A</p>
                <p>N/A</p>
                <p>N/A</p>
                <p>N/A</p>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>Benefits</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <ul>
                  <li><p align = "justify">Continuous operation</p></li>
                  <li><p align = "justify">Good temperature control</p></li>
                  <li><p align = "justify">Easily adapts to two phase runs</p></li>
                  <li><p align = "justify">Good control</p></li>
                  <li><p align = "justify">Simplicity of construction</p></li>
                  <li><p align = "justify">Low operating (labor) cost</p></li>
                  <li><p align = "justify">Easy to clean</p></li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>Limitations</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <ul>
                  <li><p align = "justify">Lowest conversion per unit volume</p></li>
                  <li><p align = "justify">By-passing and channeling possible with poor agitation</p></li>
                  <li><p align = "justify">Conversion of reactant to product per volume of reactor is small compared to other flow reactors</p></li>
                  <li><p align = "justify">Deadzones, where no mixing occurs, can develop</p></li>
                  <li><p align = "justify">Reactants can bypass if outlet placed improperly</p></li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>Applications of the bioreactor system</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <p>Municipal wastewater treatment</p>
                <p>Industrial nitrate mitigation</p>
                <p>Existing treatment facilities needing end-of-pipe denitrification</p>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>Trialed Configurations/ Usage examples</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <ul>
                  <li><p align = "justify">A CTSR “Blue Nite” system was setup in Military Base, Maryland, USA in order to meet the effluent water quality standards necessary to maintain the bay’s Total Maximum Daily Load (TMDL) for both nitrogen and phosphorus. The design flow of the existing plant is 5.0 million gallons per day. It has the capacity of handling an average loading rate of 1.39 gallons per minute, a maximum daily loading rate of 3.94 gallons per minute and a peak hour loading rate of 5.8 gallons per minute. The system has been a perfect success achieving the permitted nitrate levels to make it useful for domestic use.</p></li>
                  <li><p align = "justify">A two-stage continuously stirred Hall reactor and carrier media which provided a high concentration of active bacteria in a small space, was developed by Evoqua.  It was applied to remove nitrate from groundwater in California. The nitrate removal system developed by Evoqua requires less chemical addition which results lower waste being generated and lower operating costs. The water was treated to levels that are meet drinking water standards due the addition of an ultrafiltration step on the back end.</p></li>
                  <li><p align = "justify">Evoqua also setup another treatment plant for the people of the San Jerardo, CA community after they started developing rashes from water use. One of the causes of this condition was the high concentration levels of nitrates which were above the stipulated drinking water regulations of 45ppm. The system that was setup managed to successfully the nitrate ppm levels to regulation standards. The people were able to use the water from the wells safely.</p></li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>Further Reading</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <ul>
                  <li><p><a href = "https://www.nexom.com/" target="_blank">https://www.nexom.com/</a></p></li>
                  <li><p><a href = "https://www.evoqua.com" target="_blank">https://www.evoqua.com</a></p></li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
        
      </div> 
      <div class="card-footer"></div>
    </div>
  </div>
{% endblock main %}