{% extends 'base.html'%}
<!--继承页面-->
<!--将预留区域填充-->

{% block title %} {{title}} {% endblock title%} {% block main %}
  <div class = "container">
    <h2>Moving Bed Biofilm Reactor</h2>
    <div class="card">
      <div class="card-header"></div>
      <div class="card-body">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>General Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><p align = "justify">Moving Bed Biofilm Reactor system is a fixed film biological process that is highly effective in the treatment of wastewater. High capacity microorganism biochips media is used and this provides a large surface area for the microorganisms to attach and grow. The footprint of the biological system is small due to the increased surface area. For denitrification the treatment process proceeds under anoxic conditions and can operate at high volume loads. </p></td>
            </tr>
          </tbody>
        </table>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>Basic Operation</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><p align = "justify">The MBBR process employs thousands of floating plastic carriers (media) that operate in mixing motion within the aeration wastewater treatment tank. The biological microorganisms consume the organic material. The plastic bio-carriers increase productivity of the system by providing an increased surface area for the denitrifying microbes to attach to and grow in the treatment tank. Compared to traditional secondary treatment, the MBBR technology has a superior efficiency and value because of the high population density of microbes in this system high rates of biodegradation are achieved. </p></td>
            </tr>
          </tbody>
        </table>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>Biofilm carriers commonly used</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <p>High-density polyethylene (HDPE)</p>
                <p>Re-granulates of recycled plastics</p>
                <p>Kaldnes K1 Media</p>
                <p>K3 polystyrene</p>
                <p>Levapor cubes</p>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>Variations</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <p>N/A</p>
                <p>N/A</p>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>Benefits</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <ul>
                  <li><p align = "justify">Media size optimized for huge surface area while allowing for coarser screening</p></li>
                  <li><p align = "justify">Maintenance friendly and enhanced process stability</p></li>
                  <li><p align = "justify">High volume load</p></li>
                  <li><p align = "justify">Financial savings on discharge costs</p></li>
                  <li><p align = "justify">Economical attractive</p></li>
                  <li><p align = "justify">Improved settling conditions</p></li>
                  <li><p align = "justify">No need for periodic backwashing</p></li>
                  <li><p align = "justify">Reduced sludge production and no problems with sludge bulking</p></li>
                  <li><p align = "justify">Have plug flow characteristics</p></li>
                  <li><p align = "justify">Low catalyst handling cost</p></li>
                  <li><p align = "justify">High conversion rate</p></li>
                  <li><p align = "justify">Good selectivity</p></li>
                  <li><p align = "justify">Operational simplicity</p></li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>Limitations</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <p>Solid distribution difficult to maintain</p>
                <p>Flow of solids not easy to maintain</p>
                <p>The system has poor heat transfer characteristics</p>
                <p>In some case the fluid reactant tends to bypass the catalyst bed</p>
                <p>Stagnation is a frequent occurrence in this system</p>
                <p>Attrition, break-up of catalyst pellets due to impact against reactor walls, may occur</p>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>Applications of the bioreactor system</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <li><p align = "justify">Industrial wastewater</p></li>
                <li><p align = "justify">Municipal wastewater treatment</p></li>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>Trialed Configurations/ Usage examples</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <ul>
                  <li><p align = "justify">Aquacria-Piscicolas Turbot Fish Farm, Portugal – Veolia water technologies installed a closed loop fish farm and treatment processes for recirculated sea water utilizing the AnoxKaldnesTM MBBR technology. The MBBR technology is a fixed film system where plastic carriers act as a protected surface area for bacterial growth. Low maintenance, stainless steel aeration grids and effluent screens provide oxygen and mixing energy and retain the media in the reactors. The AnoxKaldnes MBBR system at Aquacria achieved very low effluent concentrations of ammonium and nitrite levels.</p></li>
                  <li><p align = "justify">Full Scale Municipal, Malmö, Sweden monitored by VEOLIA - The design flow of the existing plant is 50 million gallons per day. It had an efficiency of more than 80% is removal of nitrate.</p></li>
                  <li><p align = "justify">Pilot Scale Municipal, Colorado setup by VEOLIA - The reactor had a holding capacity of 950 gallons. Influent load was reduced by 20%. Nitrate was effectively removed from the system.</p></li>
                  <li><p align = "justify">Pilot Scale, Synthetic wastewater setup in a study by Zafarzadeh et al., 2010 – the system made used of two reactors for the simultaneous nitrification-denitrification process. Glucose was used as the carbon source and k1 was used as a biofilm carrier. In this setup the average removal efficiency of nitrogen was 99%, demonstrating that the use of MBBR system is a fairly powerful system for the treatment of wastewater. </p></li> 
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>Further Reading</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <ul>
                  <li><p><a href = "https://www.veolia.com/en" target="_blank">https://www.veolia.com/en</a></p></li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
        
      </div> 
      <div class="card-footer"></div>
    </div>
  </div>
{% endblock main %}