{% extends 'base.html'%}
<!--继承页面-->
<!--将预留区域填充-->

{% block title %} {{title}} {% endblock title%} {% block main %}
  <div class = "container">
    <h2>Packed Bed Reactor</h2>
    <div class="card">
      <div class="card-header"></div>
      <div class="card-body">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>General Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><p align = "justify">Packed bed reactors (PBRs) are a popular choice of reactor design because of their high conversion rate per catalyst weight. PBR system has the potential to offer an effective and low-cost technology for upgrading the conventional wastewater treatment systems. PBRs can operate at up-flow, down-flow and horizontal modes. </p></td>
            </tr>
          </tbody>
        </table>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>Basic Operation</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><p align = "justify">Packed bed reactor typically consists of a tubular or channel chamber that is packed or contains pellets, granular particles, porous ceramic or foam media and a liquid that flows through this bed of particles. The media is engineered to have a high enough surface area to encourage biofilm formation while also allowing wastewater to flow through the system. As the influent from wastewater passes or distributed through the layers of packed granular particles within column it interacts with the denitrifying microbes attached to the granular particles where they will have formed a biofilm, resulting in the removal of nitrate. </p></td>
            </tr>
          </tbody>
        </table>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>Biofilm carriers commonly used</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <p>Glass beads</p>
                <p>Diatomaceous earth pellets</p>
                <p>Polyurethane beads</p>
                <p>Sand</p>
                <p>Straw </p>
                <p>Porcelain rings</p>
                <p>Pumice stone</p>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>Variations</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <p>N/A</p>
                <p>N/A</p>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>Benefits</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <ul>
                  <li><p align = "justify">Packed bed creates anaerobic conditions favorable for denitrifying bacteria growth inside the column</p></li>
                  <li><p align = "justify">High conversion per unit mass of catalyst</p></li>
                  <li><p align = "justify">Low cost of construction, operation, and maintenance </p></li>
                  <li><p align = "justify">More product is formed due to increased reactant/catalyst contact</p></li>
                  <li><p align = "justify">Effective at high temperatures and pressures</p></li>
                  <li><p align = "justify">High conversion rate per weight of catalyst</p></li>
                  <li><p align = "justify">Easy to build</p></li>
                  <li><p align = "justify">More contact between reactant and catalyst than in other types of reactors</p></li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>Limitations</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <p>Low tolerance for suspended solids</p>
                <p>Undesired thermal gradients may exist</p>
                <p>Pretreatment in some case is required for suspended solids</p>
                <p>Poor temperature control</p>
                <p>Channeling of gas stream can occur, leading to ineffective regions in the reactor</p>
                <p>Post treatment sometimes is required depending on discharge limitations</p>
                <p>Unit may be difficult to service and clean</p>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>Applications of the bioreactor system</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <li><p align = "justify">Municipal wastewater industries</p></li>
                <li><p align = "justify">Oil refinery wastewater</p></li>
                <li><p align = "justify">Petrochemical wastewater</p></li>  
                <li><p align = "justify">Meat processing wastewater </p></li>  
              </td>
            </tr>
          </tbody>
        </table>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>Trialed Configurations/ Usage examples</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <ul>
                  <li><p align = "justify">ClearFox project: Alte Schanze, Germany – Leachate from landfill contaminated with high nitrogen concentrations (NH4, NO2, NO3, various hydrocarbons – often organ halogens, chlorides, sulphates, different heavy metals (i.e. Zn, Cu, Ni, Cr, Cd, Hg, Pb and more). A packed bed reactor was used to treat and for the removal of nitrogen from the system together with sulfur from the system.</p></li>
                  <li><p align = "justify">ClearFox project: Treatment of wood condensate wastewater, Thuringia, Germany – the packed bed reactor volume was 72 m³/d, it was used to treat wood condensate wastewater before the effluent was discharged into the environment. </p></li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>Further Reading</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <ul>
                  <li><p><a href = "https://clearfox.com/" target="_blank">https://clearfox.com/</a></p></li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
        
      </div> 
      <div class="card-footer"></div>
    </div>
  </div>
{% endblock main %}